body {
    color: #66ffcc;
}
h1 {
    text-align: center;
    font-family: serif;
    font-weight: lighter;
    color: white;
}
.container {
    display: flex;
    width: 50%;
    margin: 20px auto 0 auto;
}

button, a {
    background: #66ffcc;
}

button:hover, a:hover {
    color: white;
}

p {
    margin: 5px 0;
}

#generate {
    color: #66ffcc;
    border: 1px gray solid;
    width: 70%;
    text-align: center;
    margin: auto;
    padding: 15px;
    font-size: 20px;
    font-family: serif;
}
.choices {
    margin-bottom: 20px;
}
input,
text {
    width: 25px;
}

button {
    text-align: center;
    display: block;
    margin: 10px auto;
    font-size: 14pt;
}
label {
    user-select: none;
}

.italic {
    font-style: italic;
}

.value {
    color: #00b377;
}

#loader {
    border-bottom: 11px solid #00b377;
    border-top: 11px solid #f3f3f3;
    border-radius: 50%;
    width: 45px;
    height: 50px;
    animation: spin .6s linear infinite;
    margin: auto;
}

.left2 {
    margin-right: 2%;
    text-align: right;
}
.right #playerLevel #waresValue {
    text-align: center;
    align-content: center;
}

.robe-of-useful-items {
    border-bottom: 1px dotted white;

    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.robe-patches {

}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 700px) {
    .two-columns {
        font-size: 12px;
    }
    .left2 {
        margin-right: 0;
    }
    .right2 {
        text-align: center;
    }
    #generate {
        padding: 0;
        width: 100%;
        font-size: 16px;
    }
}
