body {
    color: #ffa366;
}
h1 {
    text-align: center;
    font-family: serif;
    font-weight: lighter;
    color: white;
}
.container {
    display: flex;
    width: 50%;
    margin: 20px auto 0 auto;
}

button, a {
    background: #ff6600;
}

#buttonbutton {
    font-size: 24pt;
}

button:hover, a:hover {
    color: white;
}

.generate {
    color: #ff6600;
    border: 1px gray solid;
    width: 70%;
    text-align: center;
    margin: auto;
    padding: 15px;
    font-size: 24pt;
    font-family: serif;
}

input,
text {
    width: 25px;
}

button {
    text-align: center;
    display: block;
    margin: 10px auto;
    font-size: 14pt;
}

@media only screen and (max-width: 700px) {
    .two-columns {
        font-size: 12px;
    }
    .generate {
        padding: 0;
        width: 100%;
        /*font-size: 20px;*/
    }
}

#loading {
    width: 200px;
    margin: auto;
}
